<div class="content-fluid" style="padding-left: 250px; padding-right:250px;padding-top:100px;">
<h1>Comandos</h1>
<br><br>
<div class="table-responsive">
  <table class="table">
   <tr>
   <td>/texto</td>  </tr> <tr>
   <td>/ubicacion utec</td></tr> <tr>
   <td>/foto paisaje o /foto omero</td></tr> <tr>
   <td>/audio</td></tr> 
   
  </table>
</div>
</div>